body{
	font-size: 16px;
	color: #fff;
	background-color: white;
	font-family: 'Mochiy Pop P One', sans-serif;
}
/**Header**/
#header-nav{
	background-color: #00FFFF;
	border-radius: 0;
	border: 0;
	box-shadow: 0px 2px 5px #777;
}
#logo-img{
	background: url('../images/logoimg.png') no-repeat;
	width: 150px;
	height: 150px;
	margin: 10px 15px 10px 0px;
}
	.navbar-brand{
		padding-top: 25px;
	}
	.navbar-brand h1{
		font-family: 'Oswald', sans-serif;
		color: white;
		font-size: 1.5em;
		text-transform:  uppercase;
		font-weight: bold;
		text-shadow: 1px 1px 1px #222;
		margin-top: 0;
		margin-bottom: 0;
		line-height: .75;

	}
.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}*/
.navbar-brand p{
	color:#000 ;
	text-transform: uppercase;
	font-size: .7em;
	margin-top: 15px;
}
.navbar-brand p span{
	vertical-align: middle;
}
#nav-list{
	margin-top: 10px;
}
#nav-list a {
	color: orange;
	text-align: center;
}
#nav-list a:hover {
 background-color:white;
}
#nav-list a span {
	font-size: 1.8em;
}
#phone{
	margin-top: 5px;
}
#phone a{
	text-align: right;
	padding-bottom: 0;
}
#phone div{
	color: #557c3e;
	text-align: right;
	padding-right: 15px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
	border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle{
	clear: both;
	margin-top: -30px;

}
/**End Header**/
/**home Page**/
#gallery-tile, #admission-tile, #map-tile{
	height: 250px;
	width: 100%;
	margin-bottom: 15px;
	position: relative;
	border: 2px solid #3f0c1f;
	overflow: hidden;
}
#gallery-tile, #admission-tile, #map-tile:hover{
	box-shadow: 0 1px 5px 1px #cccccc;

}
#gallery-tile{
	background: url(../images/gallery-logo.jpg) no-repeat ;
	background-position: center; 
}
#admission-tile{
	background: url(../images/admission.png) no-repeat;
	background-position: center;
}
#gallery-tile span, #admission-tile span, #map-tile span{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	text-align: center;
	font-size: 1.6em;
	text-transform: uppercase;
	background-color: #000;
	color: #fff;
	opacity: .8;
}
/**End Home Page**/


/**Large Devices**/
@media (min-width:1200px ){
.container .jumbotron{
	background: url(../images/jumbotron_1200.jpg) no-repeat;
	height: 675px;
	box-shadow: 0 0 50px #3f0c1f;
	border: 2px solid #3f0c1f; 
}
}


/**medium devices**/
@media (min-width: 992px) and (max-width: 1199px){
#logo-img{
	background: url('../images/logoimg-md.png') no-repeat;
	width: 100px;
	height: 100px;
	margin: 5px 5px 5px 0px;
}
/**Home page**/
.container .jumbotron{
	background: url(../images/jumbotron_992.jpg) no-repeat;
	height: 558px;
	box-shadow: 0 0 50px #3f0c1f;
	border: 2px solid #3f0c1f; 
}
}


/**Small devices**/
@media (min-width: 768px ) and (max-width:991px ){
/*home page*/
.container .jumbotron{
	background: url(../images/jumbotron_768.jpg) no-repeat;
	height: 432px;
	box-shadow: 0 0 50px #3f0c1f;
	border: 2px solid #3f0c1f; 
}
}


/**Extra Small Devices**/
@media (min-width: 767px){
/*Header*/
.navbar-brand{
	padding-top: 10px;
	height: 80px;
}
}
.navbar-brand h1{
	/* Brand or company name*/
	padding-top: 10px;
	font-size: 5vw;/* 1vw= 1% of viewport width*/
}
.navbar-brand p{
	/*Certified for _*/
	font-size: .6em;
	margin-top: 12px;
}
/*
.navbar-brand p img{

}
*/
#collapsable-nav a{
	font-size: 1.2em;
}
#collapsable-nav a span{
	margin-right: 5px;
}
#call-btn >a {
	font-size: 1.5em;
	display: block;
	margin: 0 20px;
	padding: 10px;
	border: 2px solid #fff;
	background-color: #7FFF00;
}
#xs-deliver{
	margin-top: 5px;
	font-size: .7em;
	letter-spacing: /1em;
	text-transform: uppercase;
	color: black;

}
/*end header*/

/*home page*/
.container .jumbotron{
	margin-top: 30px;
	padding: 0;
	box-shadow: 0 0 50px #3f0c1f;
	border: 2px solid #3f0c1f;
}


}
/****Super extra small****/
@media(max-width: 479px){
	/*header*/
	.navbar-brand h1{
		/*Company Name*/
		padding-top: 5px;
		font-size: 6vw; 
	}
    /*end Header*/

	/*Home page*/
	#gallery-tile, #admission-tile;{
		width: 280px;
		margin: 0 auto 15px;
	} 
}